# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables
.env
.env.*

# Jupyter Notebooks
*.ipynb_checkpoints
*.ipynb

# VS Code project settings
.vscode/

